// _colors.scss

$color-dark: rgba(34,34,34,100);
$color-white: rgba(236,239,244,100);
$color-breakwhite: rgba(255,252,249,100);
$color-brown: rgba(68,60,42,100);
$color-sephia: rgba(253,244,220,100);
$color-sephia-light: rgba(253,244,220,0.5);
$color-grey: rgba(89,89,89,100);
$color-darkgrey: rgba(34,34,34,100);
$color-darkerblue: rgba(0,0,94,100);
$color-gold: rgba(212, 175, 55,100);
$color-box-shadow: rgba(15, 17, 21, 0.2) 0px 3px 6px 0px;