@font-face {
        font-family: 'PlayfairDisplay-Black';
        src: url('../font/playfairdisplay-black-webfont.woff2') format('woff2'),
             url('../font/playfairdisplay-black-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'PlayfairDisplay-Black_italic';
        src: url('../font/playfairdisplay-blackitalic-webfont.woff2') format('woff2'),
             url('../font/playfairdisplay-blackitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'PlayfairDisplay-Bold';
        src: url('../font/playfairdisplay-bold-webfont.woff2') format('woff2'),
             url('../font/playfairdisplay-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'PlayfairDisplay-Bold_italic';
        src: url('../font/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
             url('../font/playfairdisplay-bolditalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'PlayfairDisplay-Regular';
        src: url('../font/playfairdisplay-regular-webfont.woff2') format('woff2'),
             url('../font/playfairdisplay-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'PlayfairDisplay-Regular_italic';
        src: url('../font/playfairdisplay-italic-webfont.woff2') format('woff2'),
             url('../font/playfairdisplay-italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }